@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}
body {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    background: #FFFFFF;
}
.page-header {
    color: #333333;
    background: #FFFFFF;
}
.navigation-link {
    color: #333333;
    background: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
}
.navigation-link-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #756257;
    text-decoration: none;
}
main {
    color: #333333;
    background: #FFFFFF;
    background-image: url(../images/index-background.jpg) ;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.advantages {
    color: #333333;
    background: #FFFFFF;
    text-align: center; 
}
.advantages-description-paragraph {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.advantages-title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
}
.advantages-list {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

}
.advantages-item-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
.background-title-one {
    color: #FFFFFF;
    background: #83B3D3;
    
}
.background-title-one-one {
    background: rgba(131, 179, 211, 0.12);
}
.background-title-four {
    background: rgba(131, 179, 211, 0.2);
}
.action {
    color: #333333;
    background: #FFFFFF;
    text-align: center; 
}
.action-paragraph {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.action-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}
.button-action-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #756257;    
}
.page-footer {
    text-align: center;   
}
.subscription {
    color: #FFFFFF;
    background-image: url(../images/background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.subscription-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.subscription-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}
.button-subscription-button {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-transform: uppercase;
    background: #83B3D3;
}
.footer-contacts-addres-phone {
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;

}
.main-inner {
    color: #000000;
    background: #FFFFFF;

}
.background-header-catalogs {
    color: #FFFFFF;
    background: #000000;
    background-image: url(../images/catalog-background-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}
.breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.control-input {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.button-catalog-filter-apply {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: #83B3D3;
}
.button-catalog-filter-reset {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    background: inherit;
}
.catalogs-hotels-found-paragraph {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
}
.select-control {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.product-card-link {
    color: #333333;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-decoration: none;
}
.product-card-discription {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.product-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.button-product-card-more {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    background: #756257;
    text-decoration: none;
}
.button-product-card-favorites {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    background: #83B3D3;
} 
.product-card-rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    background: #F2F2F2;
}
.button-pagination-show-more {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: #83B3D3;
}
.pagination-link-black-pagination-disabled {
    color: #333333;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    background: #F2F2F2;
}
.pagination-link {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    background: #83B3D3;
    text-decoration: none;
}
.select-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.select-pages {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.subscription-inner {
    color: #000000;
}
.subscription-inner-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.subscription-inner-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}